.pageContent {
  text-align: center;
  padding: 2rem;
  color: #1f2937;
}

.title {
  font-size: 1.8rem;
  color: #183B4E;
  margin-bottom: 1rem;
}

.content {
  font-size: 1rem;
  line-height: 1.5;
  color: #183B4E;  
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #DDA853;
  user-select: none;
  font-size: 2rem;
  font-weight: 900;
   text-shadow: 0 0 1px #DDA853, 0 0 1px #DDA853;

  &.left {
    left: -60px;
  }

  &.right {
    right: -60px;
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:hover {
    color: #be8326;
  }
}